/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure that the body and html are 100% height */
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    height: 100%; /* Make sure body occupies the full height */
  
}

/* Navigation Bar */
.top {
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 0;
    padding: 20px 40px; /* Adds padding on the sides */
    gap: 20px; /* Adds 20px space between the links */
}


.head a{
    text-transform:uppercase;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
}

.head a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    text-transform:uppercase;
}


/* Branding */

.greetings
{
    display: flex;
    text-align: justify;
    justify-content: space-around;
    justify-content: center;
    background-color: rgba(129, 252, 252, 0.815);
}
.text-ti1
{
  color: rgb(255, 133, 133);
}
.text-ti2
{
  color: rgb(255, 133, 133);
}
/* TEXT SECTION OF VISIT SECTION*/
.back
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 149, 149);
    padding-top: 150px;
    padding-bottom: 150px;
    flex-grow: 1;

}
.visit
{
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.visitmenu
{
    font-family:Arial, Helvetica, sans-serif;
    
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 135px;
    text-decoration: none;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 7px;
    box-shadow: 2px 1px 2px 3px rgba(87, 87, 87, 0.329);
  transform: translate(-5px,0px);
}
.visitmenu:hover{
   
    font-family:Arial, Helvetica, sans-serif;
    
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 135px;
    text-decoration: none;
    padding: 10px 10px;
    background-color: black;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 1px 2px 3px rgba(100, 100, 100, 0.596);
    border: 1.5 solid red;
}
